project:
  type: website
  output-dir: docs

website:
  title: "Tom Blume"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - about.qmd
      -  href: assets/cv_tom_blume.pdf
         text: CV
      - projects.qmd
      - href: fiore.qmd
        text: DJing & Producing
      

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



